body {
    background-color: #1D78B5;
    color: #F2F0EE;
}

.light-shades {color : #F2F0EE;}
.light-accent {color : #A79789;}
.main-color {color : #80C4CF;}
.dark-accent {color : #887B70}
.dark-shades {color : #1D78B5}